<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5327ca53-a1d1-4023-9d5e-ba4bd013aafe" name="https://reqres.in register TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5327ca53-a1d1-4023-9d5e-ba4bd013aafefileName">https%3A%2F%2Freqres.in-register-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
