<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="62dfeb25-7edc-4536-ab2e-49485f9075bf" name="https://reqres.in create TestSuite 4" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="62dfeb25-7edc-4536-ab2e-49485f9075bffileName">https%3A%2F%2Freqres.in-create-TestSuite-4</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
