<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2d918714-c9d9-4f44-98d1-d54bd96d163e" name="https://reqres.in TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2d918714-c9d9-4f44-98d1-d54bd96d163efileName">https%3A%2F%2Freqres.in-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
